body > .container {
   padding-top: 4rem;
}

@media screen and (max-width: 768px) {
    body{
        display: flex;
    } 

    .container {
        flex-direction: column;
    }

    .card {
        margin-top: 20rem;
    }
}